.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'EB Garamond', serif;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play{
  margin-top: 40px;
  font-size: 30px;
  font-family:'Inclusive Sans', sans-serif;
  background-color: #FFCF96;
  color: #F31559;
  border-radius: 25px;
  border: 0px;
  height: 3rem;
}

footer {
  margin-top: 5%;
  font-size: large;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
